.header
    i.fa.fa-exchange-alt.fa-lg.toggle-sidebar.no-sidebar
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.toggle-notifications.header-icon#notifications(data-bs-toggle='dropdown', aria-haspopup="true", aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | notifications
                span 50
            .noti-content
                ul.list-unstyled
                    li
                        i.fa.fa-envelope-open-text.fa-lg
                        | You Have Gotten Email 
                    li
                        i.fa.fa-money-check-alt.fa-lg
                        | Transfer Into Your HSBC account
                    li
                        i.fa.fa-thumbs-up.fa-lg
                        | Someone liked your Post
                    li
                        i.fa.fa-envelope-open-text.fa-lg
                        | You Have Gotten Email
                    li
                        i.fa.fa-money-check-alt.fa-lg
                        | Transfer Into Your HSBC account
            .noti-foot.text-center: a(href='#') View All Notifications
    i.fas.fa-expand-alt.fa-lg.toggle-fullscreen.header-icon
    .dropdown.user-menu-container
        .username#usermenu(data-bs-toggle='dropdown', aria-haspopup="true", aria-expanded='false')
            img.avatar.rounded-circle(src='images/person4.jpg', alt='User')
            span.user Mohamed Elrodainy
            i.fa.fa-angle-down.fa-lg
        .dropdown-menu.user-submenu.dropdown-menu-right(aria-labelledby='usermenu')
            .user-info
                h3 Mohamed Elrodainy
                p Premium Member
            hr
            ul.activities-list.list-unstyled
                li Added comment on mohaned's post "How to become"
                li Shared post on category "science"
                li Created chart on the charts' list
                li Reacted to mohaned's post "How to become"
            hr
            .row.usermenu-links
                .col
                    .link-box
                        i.fas.fa-cog.fa-lg.fa-fw
                        span Settings
                .col
                    .link-box
                        i.fas.fa-user.fa-lg.fa-fw
                        span My Profile
                .col
                    .link-box
                        i.fas.fa-sign-out-alt.fa-lg.fa-fw
                        span Sign Out