* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

// the base font size of the body is 16px
.page {
    min-height: 100vh;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100vh;
        transition: 0.3s;
        will-change: width; // this property tells the browser that the animation will take place with width.
        float: right;
        background-color: #F2F1F6;
        &.no-sidebar {
            width: 100%;
        }
        .content {
            .page-head {
                padding: 20px;
                margin-top: 20px;
                .page-title {
                    font-weight: bold;
                    color: #27ae60;
                }
            }
        }
    }
}