.header {
    background-color: #FFF;
    padding: 20px;
    .toggle-sidebar {
        cursor: pointer;
        &:hover {
            color: $flatGreen;
        }
    }
    .header-icon {
        background-color: #F9F9F9;
        padding: 10px;
        border-radius: 50%;
        color: #555;
        cursor: pointer;
        margin-left: 10px;
    }
    .notifications-container {
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu {
            min-width: 600px;
            border: none;
            padding: 0;
            top: 40px;
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                left: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #333 transparent;
            }
            .noti-head {
                background-color: #333;
                padding: 15px;
                color: #FFF;
                span {
                    float: right;
                }
            }
            .noti-content {
                padding: 20px;
                ul {
                    margin: 0;
                    li {
                        padding: 10px;
                        i {
                            background-color: #EEE;
                            padding: 10px;
                            border-radius: 50%;
                            width: 45px;
                            height: 45px;
                            line-height: 26px;
                            text-align: center;
                            margin-right: 10px;
                            position: relative;
                            top: 7px;
                        }
                    }
                }
            }
            .noti-foot {
                a {
                    display: block;
                    padding: 10px;
                    border-top: 10px solid #EEE;
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    .user-menu-container {
        float: right;
        .username {
            cursor: pointer;
            .avatar {
                width: 40px;
                height: 40px;
            }
            .user {
                font-weight: bold;
                color: #777;
                margin: 0 10px;
            }
        }
        .user-submenu {
            min-width: 600px;
            border: none;
            padding: 20px;
            top: 40px;
            border: 1px solid #DDD;
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                right: 50px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #DDD transparent;
            }
            .user-info {
                h3 {
                    font-weight: bold;
                    color: $flatGreen;
                }
                p {
                    color: $flatBlueAlt;
                }
            }
            .activities-list {
                li {
                    padding: 10px;
                }
            }
            .usermenu-links {
                .link-box {
                    border: 1px solid #DDD;
                    padding: 10px 15px;
                    border-radius: 6px;
                    text-align: right;
                    cursor: pointer;
                    i {
                        float: left;
                        position: relative;
                        top: 5px;
                        &.fa-cog {
                            color: $flatBlue;
                        }
                        &.fa-user {
                            color: $flatGreen;
                        }
                        &.fa-sign-out-alt {
                            color: $flatRed;
                        }
                    }
                }
            }
        }
    }
}