.page {
    .sidebar {
        width: 30%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #EEE;
        padding: 15px;
        transition: 0.3s;
    }
}