.setting-box.no-box
    .toggle-settings
        i.fas.fa-cog.fa-lg
    .setting-content
        .option-box
            h4 Color Options
        .option-box
            h4 Font Options
        .option-box
            h4 Sidebar Options